.section-tech-vid {
  position: relative;

  @media only screen and (max-width: $tablet) {
    background: #006d97 url("../images/mobile-video-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fp-tableCell {
    @media only screen and (max-width: $tablet) and (orientation: portrait) {
      vertical-align: top;
    }

    @media only screen and (max-width: $mobile) {
      vertical-align: middle;
    }
  }

  .flex-container {

    @media only screen and (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;

    }

    @media only screen and (max-width: $mobile) {
      flex-direction: column-reverse;
    }
  }

  .video-container {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    @media only screen and (max-width: $tablet) and (orientation: portrait) {
      position: relative;
      height: auto;
      display: flex;
      justify-content: center;
    }

    @media only screen and (max-width: $mobile) and (orientation: portrait) {
    }
  }

  #tech-video {
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background-size: 100% 100%;
    background: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 1;

    @media only screen and (max-width: $tablet) {
      position: relative;
      object-fit: contain;
    }
  }

  .tech-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    opacity: .6;
    top: 0;

    &.hide {
      opacity: 0;
    }
  }

  @media only screen and (max-width: $tablet) and (orientation: portrait) {
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      flex: 1;
    }
  }

  .card-spacer {
    display: none;
    padding: 0;
  }

  @media only screen and (max-width: $mobile) {
    .card-spacer {
      display: block;
    }
  }
}

.card-tech-vid {
  position: relative;
  z-index: 2;
  pointer-events: none;

  @media only screen and (max-width: $desktop) {
    width: 100%;
    padding: 0;
  }

  .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;

    @media only screen and (max-width: $tablet) and (orientation: portrait) {
      position: relative;
      height: 400px;
    }
  }

  .text-container {
    padding: 80px 95px;
    color: #ffffff;
    max-width: 860px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;

    @media only screen and (max-width: $tablet) and (orientation: portrait) {
      color: #ffffff;
      font-weight: 700;
      padding: 5vw 17vw;
      max-width: 100%;
    }

    p {
      font-size: 35px;
      line-height: 45px;
      font-weight: 700;
      margin: 0 auto;
      transition: opacity 0.5s linear;


      @media only screen and (max-width: $tablet) {
        font-size: 22px;
        line-height: 30px;
        transition: opacity 0s linear;
      }

      @media only screen and (max-width: $mobile) {
        font-size: 18px;
        line-height: 25px;
    }

    @media only screen and (orientation: landscape) {
      &.unmute {
        opacity: 0 !important;
      }
    }
  }
}
}