#fp-nav {

    li:nth-child(5), li:nth-child(7), li:nth-child(8) {
        display: none;
    }

    /* Add Tech Video slide back in

    li:nth-child(5), li:nth-child(8), li:nth-child(9) {
        display: none;
    }

    */
}

#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    white-space: nowrap;
    max-width: 500px;
    display: block;
    opacity: 0;
    cursor: pointer;
    text-shadow: 0px 2px 6px rgb(28, 28, 28);

    &.dark-text {
        color: #707070;
        text-shadow: 0px 1px 1px rgb(223, 223, 223);
    }
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    opacity: 1;
    width: 500px;
}

#fp-nav ul li:nth-child(3) .fp-tooltip {
    top: 1px;
}

#fp-nav ul li:nth-child(6) .fp-tooltip {
    top: 1px;
}

#fp-nav ul li:nth-child(7) .fp-tooltip {
    top: 1px;
}

.force-active {
    border-color: #46C8E1 !important;
}